<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
	<head th:replace="plantilla :: head"></head>
	<body>

		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-mdb-backdrop="static" aria-hidden="true" th:fragment="formPaises">
		  <div class="modal-dialog modal-dialog-scrollable">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">REGISTRAR PAIS</h5>
		        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <form class="was-validated" th:action="@{/menu/mantenimiento/paises/guardar}" th:object="${pais}" id="enviar" method="post" > 
		          <div class="mb-3">
		          	<input class="form-control" type="hidden" th:field="*{idPais}" required></input>
		          	<input class="form-control" type="hidden" th:field="*{eliminado}" required></input>
		            <label class="col-form-label" for="nombrePais">NOMBRE:</label>
		            <input class="form-control" type="text" th:field="*{nombrePais}" required></input>
		          </div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
		        <button type="submit" class="btn btn-primary" form="enviar">Guardar</button>
		      </div>
		    </div>
		  </div>
		</div>
		
	</body>
</html>