@charset "ISO-8859-1";
body
{
	background-color: orange; 
}
#contenedorMantenimiento
{
	
	position: relative;
	top: 150px;
}
#contenedorListarHabitaciones
{
	background-color: olive;
	position: relative;
	left:200px;
	width: calc(100vw - 200px)
}
#tablaHabitaciones
{
	background-color: white;
}
#tablaHabitaciones td, #tablaHabitaciones th
{
	padding: 10px;
}